.chat{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #8FD4D9 0%, #00AECF 50%, #0155A1);
    display: grid;
    place-items: center;
}
.chat-container{
    width: 95%;
    height: 75vh;
    max-width: 1000px;
    /* background-color: rgb(54, 185, 49); */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.loading{
    font-size: 50px;
    color:white;
}
@media (max-width:900px){
    .chat-container{
        display: flex;
    }
    .loading{
        font-size: 30px;
    }
}