.rs{
    color: white;
    background: #001030;
    /* background-color: rgba(8, 21, 88, 0.2); */
    background-color: rgba(6, 17, 70, 0.6);
    color: #fff;
    position: relative;
    height: 75vh;
    overflow-y: scroll;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
}
.rs-profile{
    padding-top: 60px ;
    text-align: center;
    max-width: 70%;
    /* equal space from left and right side */
    margin: auto;
}
.rs-profile img{
    width: 110px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.rs-profile h3{
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
    color: white;
    font-weight: 500;
}
.rs-profile p{
    font-size: 10px;
    opacity: 80%;
    font-weight: 400;
    color: #eaf2f9;
}
.rs hr{
    border-color: #ffffff50;
    margin: 15px 0px;
}
.rs-media{
    padding: 0px 20px;
    font-size: 13px;
}
.rs-media div{
    /* horizontal scroll ---> not working with max-width */
    max-height: 180px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 8px;
}

.rs-media div img{
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
}
.rs button{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    background: #0773ff;
    color: white;
    border: none;
    font-size: 12px;
    font-weight: 300;
    padding: 10px 65px;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width:900px){
    .rs{
        display: none;
    }
}